<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        #login-popup {
            display: none;
        }
    </style>
</head>
<body>
    <div id="login-link"><a>Login</a></div>
    <div id="login-popup">
        <form method="post" action="login">
            <input type="text" name="email" />
            <input type="password" name="password" />
            <input type="submit" value="go" />
        </form>
    </div>

    <script>
        document.querySelector('#login-link > a').addEventListener('click', function() {
            var x = document.querySelector('#login-popup');
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        });
    </script>
</body>
</html>